BASEPOLLLITE_CONTRACT_ADDRESS=BASEPOLLLITE_CONTRACT_ADDRESS_PLACEHOLDER
BASE_APP_ID=BASE_APP_ID_PLACEHOLDER
TALENT_VERIFICATION=TALENT_VERIFICATION_PLACEHOLDER
BUILDER_CODE=BUILDER_CODE_PLACEHOLDER
GITHUB_TOKEN=GITHUB_TOKEN_PLACEHOLDER
VERCEL_TOKEN=VERCEL_TOKEN_PLACEHOLDER
